@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  margin: 0;
  padding: 0;
  scrollbar-width: none !important;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  list-style: none;
  text-decoration: none;
}

/*variaveis*/
:root {
  --main-color: #232323;
  --second-color: white;
  --text-color: #235ee7;
  --bg-color: white;

  /*box shadow */
  --box-shadow: 2px 2px 18px rgb(14 52 54 /15%);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

img {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #2e5dc2 !important;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #2e5dc2 !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
